{% extends 'index.html' %} {% load render_table from django_tables2 %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>-->

{% block content %}
    <div class="page-wrapper">

        <div class="row">
            <div class="col-md-2">.</div>
            <div class="col-md-10">
                <div class="page-breadcrumb">
                    <div class="row">
                        <div class="col-12 d-flex no-block align-items-center">
                            <h4 class="page-title">{{ instance.date }} - {{ instance }}</h4>
                            <div class="ml-auto text-right">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ instance }}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>






        <div class="container-fluid">
             <div class="row">
                 <div class="col-md-3">
                    <div class="card">
                        <div class="header">
                            <h5 class="card-title">Transition / Transformation</h5>

                        </div>
                        <div class="card-body" >
                                      <div class="row">
                                          <div class="col-md-7" style="font-size:17px; color:#007bff">Desc.</div>
                                          <div class="col-md-5" style="font-size:17px; color:#007bff">Hrs</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7" style="font-size:12px">1st-Ln Mgr.</div>
                                          <div class="col-md-5" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7" style="font-size:12px">2nd-Ln Mgr.</div>
                                          <div class="col-md-5" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-7" style="font-size:12px"># Weeks</div>
                                          <div class="col-md-5" style="font-size:12px">12</div>
                                      </div>
                                    <span class="info-box-number">
                                          <div class="row">
                                          <div class="col-md-7" style="font-size:10px">Total Hours</div>
                                          <div class="col-md-5" style="font-size:10px; color:#ffd800"><span class="info-box-number">4,410</span></div>
                                      </div>
                                    </span>
                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card">
                        <div class="header">
                            <h5 class="card-title">Services & Components:</h5>

                        </div>
                        <div class="card-body" >
                                   <div class="row">
                                          <div class="col-md-6" style="font-size:17px; color:#007bff">Desc.</div>
                                          <div class="col-md-3" style="font-size:17px; color:#ffd800">Hrs</div>
                                          <div class="col-md-3" style="font-size:17px; color:#007bff">FTE</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Combined Svcs</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Components</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Custom Optns</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                   <span class="info-box-number">
                                          <div class="row">
                                          <div class="col-md-6" style="font-size:10px">Total Hours</div>
                                          <div class="col-md-3" style="font-size:10px; color:#ffd800"><span class="info-box-number">3,410</span></div>
                                          <div class="col-md-3" style="font-size:10px"><span class="info-box-number">410</span></div>
                                      </div>
                                    </span>

                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card">
                        <div class="header">
                            <h5 class="card-title">Add'l Svc & Mgmnt:</h5>

                        </div>
                        <div class="card-body" >
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:16px; color:#007bff">Desc.</div>
                                          <div class="col-md-3" style="font-size:16px; color:#ffd800">Hrs</div>
                                          <div class="col-md-3" style="font-size:16px; color:#007bff">FTE</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Add'l Services</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">1st-Ln Mgr.</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">2nd-Ln Mgr</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                   <span class="info-box-number">
                                          <div class="row">
                                          <div class="col-md-6" style="font-size:10px">Total Hours</div>
                                          <div class="col-md-3" style="font-size:10px; color:#ffd800"><span class="info-box-number">4,410</span></div>
                                          <div class="col-md-3" style="font-size:10px"><span class="info-box-number">1.5</span></div>

                                      </div>
                                    </span>

                        </div>
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="card">
                        <div class="header">
                            <h5 class="card-title">Product & Delivery:</h5>

                        </div>
                        <div class="card-body" >
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:16px; color:#007bff">Desc.</div>
                                          <div class="col-md-3" style="font-size:16px; color:#ffd800">Hrs</div>
                                          <div class="col-md-3" style="font-size:16px; color:#007bff">FTE</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Products</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">Labor</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-6" style="font-size:12px">2nd-Ln Mgr</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                          <div class="col-md-3" style="font-size:12px">0</div>
                                      </div>
                                   <span class="info-box-number">
                                          <div class="row">
                                          <div class="col-md-6" style="font-size:10px">Total Hours</div>
                                          <div class="col-md-3" style="font-size:10px; color:#ffd800"><span class="info-box-number">4,410</span></div>
                                          <div class="col-md-3" style="font-size:10px"><span class="info-box-number">2.5</span></div>
                                      </div>
                                    </span>

                        </div>
                    </div>
                </div>

        </div>




<!--  &lt;!&ndash;                          *** Endpoint / Count / Hours/ Band /  Information ****&ndash;&gt;-->
<!--                                            <div class="row">-->
<!--                                    <div class="col-md-1"></div>-->
<!--                                    <div class="col-md-10">-->
<!--                                    <div class="form-group-sm" style="font:500">-->



<!--											<div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2" style="background-color:#3c3737; color:#ffd800">EndPoint Info:</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">Count</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#ffd800">Hours</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band3</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band4</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band5</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band6</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band7</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band8</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#FFFFFF">FTE Band9</div>-->
<!--												<div class="col-md-1" style="background-color:#3c3737; color:#ffd800">Total FTE</div>-->

<!--											</div>-->
<!--											<div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2">:</div>-->
<!--												<div class="col-md-3" style="background-color:#ffcc99;font-weight:bold">.</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">. </div>-->

<!--											</div>-->

<!--											<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2">Workstations:</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_num_workstation }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_sum_wkstnshourscalc }}</div>-->
<!--												</div>-->

<!--												<div class="col-md-1" style="background-color:#ffcc99">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99; align-content:center">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->

<!--												<div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->
<!--												</div>-->
<!--											</div>-->

<!--											<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2">Servers:</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_num_server }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_sum_srvshourscalc }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->


<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->

<!--												<div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->
<!--												</div>-->
<!--											</div>-->

<!--											<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2">IP / EndPoints:</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_num_ipaddress }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_sum_ipshourscalc }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.125</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.125</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->

<!--												<div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->
<!--												</div>-->
<!--											</div>-->

<!--											<div class="row" style="font-weight:normal; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-2">Additional Consoles:</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_num_console }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">{{ instance.tag_sum_consolehourscalc }}</div>-->
<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.00</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->
<!--												<div class="col-md-1" style="background-color:#ffcc99;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->

<!--												</div>-->


<!--												<div class="col-md-1" style="background-color:#ffcc99; font-weight:bold; font-family:Arial;">-->
<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px;">0.000</div>-->
<!--												</div>-->
<!--											</div>-->
<!--											<div class="row" style="font-weight:bold; font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-4" style="background-color:#C6E2EE;font-weight:normal">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--												<div class="col-md-1" style="background-color:#C6E2EE;">.</div>-->
<!--											</div>-->

<!--											<div class="row" style="font-family:Arial; font-size:10px">-->
<!--												<div class="col-md-3"></div>-->
<!--												<div class="col-md-1">-->

<!--													<div style="background-color:#eaeae9; font-weight:bold; height:23px; text-align:center; padding: 5px 3px 3px 3px;">265.000</div>-->
<!--												</div>-->
<!--												<div class="col-md-7"></div>-->
<!--												<div class="col-md-1">-->

<!--													<div style="background-color:#eaeae9; height:23px; text-align:center; padding: 5px 3px 3px 3px; font-weight:bold">0.250</div>-->
<!--												</div>-->

<!--											</div>-->
<!--										</div>-->

<!--                                    </div>-->
<!--                                    <div class="col-md-1"></div>-->



<!--                                            </div>-->

                                  <hr />
            <div class="row">



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <div class="card">
                        <div class="header">
                            <h5 class="card-title">Products</h5>
                            <input data-href='{% url "ajax-search" instance.id %}' type="text" class="form-control search_button" placeholder="Search">
                        </div>
                        <div class="card-body" id="product_container">

                            {% include 'include/product_container.html' %}
                        </div>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="wkstn_modifierModal" tabindex="-1" role="dialog" aria-labelledby="wkstn_modifierModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="wkstn_modifierModalLabel">Modifiers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <div class="card">
                        <div class="header">
                            <h5 class="card-title">Modifier</h5>
                            <input data-href='{% url "ajax-search" instance.id %}' type="text" class="form-control search_button" placeholder="Search">
                        </div>
                        <div class="card-body" id="wkstn_modifier_container">
                            <div class="container-fluid">

</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">.H.</div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">.P.</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">.C.</div>
</div>



<form>
  <div class="form-group">
    <label>Workstations Scale: Modifier</label>
    <div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.02">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.05">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">5%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.07">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">7%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">10%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.12">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">12%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.15">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">15%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.17">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">17%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="0.20">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">20%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_workstation_scale" type="radio" checked="checked" aria-describedby="modifier_workstation_scaleHelpBlock" class="custom-control-input" value="1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Remove Wkstn Modifier</span>
        </label>
      </div>
      <span id="modifier_workstation_scaleHelpBlock" class="form-text text-muted">Select A Factor to Reduce Hours Calculated for Workstations. Usage: - To decrease Hours Calculation for high number of Enpoints. i.e. 30,000 Wkstns may require adjustment to be inline with previous Sizings</span>
    </div>
  </div>
  <div class="form-group">
    <label>Modifier: Servers Scale</label>
    <div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".02">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">2%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".05">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">5%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".07">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">7%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">10%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".12">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">12%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".15">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">15%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".17">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">17%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value=".2">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">20%</span>
        </label>
      </div>
      <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input name="modifier_server_scale" type="radio" checked="checked" aria-describedby="modifier_server_scaleHelpBlock" class="custom-control-input" value="1">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Remove Modifier</span>
        </label>
      </div>
      <span id="modifier_server_scaleHelpBlock" class="form-text text-muted">Select A Factor to Reduce Hours Calculated for Servers. Usage: - To decrease Hours Calculation for high number of Enpoints. i.e. 30,000 Servers may require adjustment to be inline with previous Sizings</span>
    </div>
  </div>
  <div class="form-group">
    <button name="submit" type="submit" class="btn btn-primary">Submit Modifier</button>
  </div>
</form>




<div class="container">
    <h1>Bootstrap 4 Vertical Nav Tabs</h1>
  <hr>
  <div class="row">
    <div class="col-md-2 mb-3">
        <ul class="nav nav-pills flex-column" id="myTab2" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>
    </div>
    <!-- /.col-md-4 -->
        <div class="col-md-10">
      <div class="tab-content" id="myTabContent2">
  <div class="tab-pane fade show active" id="home2" role="tabpanel" aria-labelledby="home-tab">
  <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
  </div>
  <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
  <h2>Profile</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>
  </div>
  <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
  <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet earum. Sed accusantium eligendi molestiae quo hic velit nobis et, tempora placeat ratione rem blanditiis voluptates vel ipsam? Facilis, earum!</p>

  </div>
</div>
    </div>
    <!-- /.col-md-8 -->
  </div>



</div>
<!-- /.container -->



                        </div>
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


            </div>
            <div class="row">
<!--                <div class="col-md-4">-->
<!--                    <div class="card">-->
<!--                        <div class="header">-->
<!--                            <h5 class="card-title">Products</h5>-->
<!--                            <input data-href='{% url "ajax-search" instance.id %}' type="text" class="form-control search_button" placeholder="Search">-->
<!--                        </div>-->
<!--                        <div class="card-body" id="product_container2">-->

<!--                            {% include 'include/product_container.html' %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="col-md-1">

                    <div class="row">
                        <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          Add Product
                        </button>
                    </div>
                    <div class="row">.</div>
                    <div class="row">
                         <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#wkstn_modifierModal">
                          Add'l  Costs
                        </button>
                    </div>
                    <div class="row">.</div>
                    <div class="row">
                          <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          T&T Wrksht
                        </button>
                    </div>
                    <div class="row">.</div>
                    <div class="row" content="align-center">
                           <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          Acct/RFS
                        </button>
                    </div>
                    <div class="row">.</div>
                    <div class="row">
                                                   <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          Overview
                        </button>
                    </div>
                    <div class="row">.</div>
                    <div class="row">
                        <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#wkstn_modifierModal">
                          Modifiers
                        </button></div>
                    <div class="row">.</div>
                    <div class="row">
                           <!-- Button trigger modal -->
                       <button type="<button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          GBO View
                        </button>
                    </div>
                    <div class="row"></div>




                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div id='order_item_container' class="card-body">
                            {% include 'include/order_container.html' %}
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">Edit</div>
                        <div class="card-body">
                            <form method="post" class="form">{% csrf_token %}
                                {{ form }}
                                <br>
                                <button type="submit" class="btn btn-success">Save</button>
                            </form>
                        </div>
                    </div>
            </div>
                <div class="col-md-1"></div>


        </div>
        </div>



    </div>
        <div  class="modal fade" id="AddOrderitem" role="dialog" aria-hidden="true">
    <!-- Button trigger modal -->

    <form method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add/Update Sizing Detail</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                  <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" name="orderitemid" id="orderitemid" /><!--i use this for edit and delete-->

                    <a>Edit Sizing Detail</a>

          <fieldset>
        <legend></legend>

        <div id="div_id_orderitem.numserver" class="ctrlHolder">
            <label for="id_orderitem.numserver" class="requiredField">Enter/Adjust the # of Servers?<span class="asteriskField">*</span></label>
            <input id="id_orderitem.numserver" class="textinput textInput" type="text" name="numserver" maxlength="80" required="required" />
        </div>
        <div id="div_id_numworkstation" class="ctrlHolder">
            <label for="id_numworkstation" class="requiredField">Enter/Adjust the # of Workstations?<span class="asteriskField">*</span></label>
            <input id="id_numworkstation" class="textinput textInput" type="text" name="numworkstation" maxlength="80" required="required" />
        </div>
        <div id="div_id_numipaddress" class="ctrlHolder">
            <label for="id_numipaddress">Enter/Adjust the # of Ip Addresses/EndPoints?</label>
            <input id="id_numipaddress" type="text" name="numipaddress" class="textinput textInput" />
        </div>

    </fieldset>
                  </div>
                  <div class="form-group">
                    <div class="alert alert-success" id="ins_success" style="display:none">

                    </div>
                     <div class="alert alert-danger" id="ins_error" style="display:none">

                    </div>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" id="btn-insert-data" class="btn btn-success">Save</button>
                       <div id="msg" class="alert alert-danger" style="display:none"></div>
                     </div>

              </div>
        </div>
    </form>

</div>

            </div>


        </div>



<hr>

{% endblock %}

{% block extra_js %}
    {% include 'include/ajax_calls.html' %}


<script>
$('#exampleModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>

<script>
    $(document).ready(function () {

      /* Functions */

      var loadForm = function () {

        var btn = $(this);
        $.ajax({
          url: btn.attr("data-url"),

          type: 'get',
          dataType: 'json',
          beforeSend: function () {

            $("#modal-orderitem .modal-content").html("");//optional--html() return innerHtml of selected elements
            $("#modal-orderitem").modal("show");
          },
          success: function (data) {

            $("#modal-orderitem .modal-content").html(data.html_form);//model-orderitem and model content is in index.html below tabel which will show form pop up

          }
        });
      };

      var saveForm = function () {
        var form = $(this);
        console.log(form.serialize())
        $.ajax({
          headers: {'X-CSRFToken': csrftoken},
          url: form.attr("action"),//sending request to this url by passing form input data
          data: form.serialize(),
          type: form.attr("method"),
          dataType: 'json',
          // async : 'false',
          // dataType: "script",



          success : function (data) {//this is the response after data is save to database

            if (data.form_is_valid) {//means if data['form_is_valid'] = True in views.py

            alert("successful")
            // console.log(data.html_orderitem_list)

             $("#modal-orderitem .close").click();// Close the modal form



             $("#orderitem-table tbody").html('').append(jQuery.parseHTML(data.html_orderitem_list));

            // html('').append(jQuery.parseHTML(data, document, true));
            // <-- Replace the table body
              //Goto id="orderitem-table"  tbody and then pass data in tbody contain in data.html_orderitem_list

            //  $("#modal-orderitem").modal('hide');//--similar but differ in some version
            }

            else {// data['form_is_valid'] = False
            //if false then show the same form with respective warning

              $("#modal-orderitem .modal-content").html(data.html_form);//$("#server-results").html(response);
            }

          }
        });
        return false;
      };


      $(".js-orderitem-create").click(loadForm);
      $("#modal-orderitem").on("submit", ".js-orderitem-create-form", saveForm);


      $("#orderitem-table").on("click", ".js-orderitem-update", loadForm);
      $("#modal-orderitem").on("submit", ".js-orderitem-update-form", saveForm);


      $("#orderitem-table").on("click", ".js-orderitem-delete", loadForm);
      $("#modal-orderitem").on("submit", ".js-orderitem-delete-form", saveForm);

    });

    getCookie = (name) => {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');



</script>



<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

{

{% endblock %}
